/* global css */
body {
  margin: 0;
}

/*id's*/
/* header */
#containerHeader {
  background-color: #0E8700;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#header {
  min-height: 100%;
  min-width: 100%;
}

/* body */
#containerBody {
  background-image: url(../pictures/portfolioPage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-attachment: fixed;
}

#body1 {
  min-height: 100%;
  min-width: 100%;
}

/* classes */
/* headers */
#header .headerMain {
  font-size: 50px;
  font-family: Arial;
  width: 50%;
  height: 0%;
  float: left;
  color: lightGrey;
}

#header .headerText {
  width: 50%;
  height: 50%;
  float: right;
  font-size: 32px;
  color: lightGrey;
  font-family: Arial;
}

#header .headerInfo {
  word-wrap: break-word;
  font-size: 24px;
}

/* bodys */
#body1 .bodyMain {
  font-size: 24px;
  font-family: Arial;
  height: 100%%;
  color: #ffffff;
  line-height: 150%;
}

#body1 .bodyPicContainer {
  height: 50%;
}

#clear {
  clear: both;
}

/* drop down menu and nav bar css */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
